<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.rmen.android.frenchcalendar" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<!-- activity android:name=".FrenchCalendarActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-->
		<receiver
			android:name="ca.rmen.android.frenchcalendar.FrenchCalendarAppWidget"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="ca.rmen.android.frenchcalendar.UPDATE_WIDGET" />
			</intent-filter>
			<!-- intent-filter>
				<action android:name="android.intent.action.SCREEN_ON" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SCREEN_OFF" />
			</intent-filter -->
			
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget" />
		</receiver>


	</application>
</manifest>