<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.rmen.android.frenchcalendar"
    android:versionCode="104"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name="ca.rmen.android.frenchcalendar.prefs.FRCPreferenceActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FRCAboutActivity" >
            <intent-filter>
                <action android:name="ca.rmen.android.frenchcalendar.FRCAboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="ca.rmen.android.frenchcalendar.FRCAppWidget$FRCAppWidgetNarrow"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.frenchcalendar.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>
        <receiver
            android:name="ca.rmen.android.frenchcalendar.FRCAppWidget$FRCAppWidgetWide"
            android:label="@string/app_name_wide" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.frenchcalendar.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_wide" />
        </receiver>
    </application>

</manifest>